.main {
  margin-bottom: 20px;
  text-align: center;
}

.cool-btn {
  text-decoration: none;
  color: black;
  cursor: pointer;
  border: 1px solid red;
  padding: 5px;
  margin: 20px;
  display: inline-block;
  transition: background-color 0.5s, color 0.5s;
}

.cool-btn:hover {
  background-color: red;
  color: white;
  transform: scale(1.2);
}

.gallary {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product {
  flex-basis: 30%;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.product img {
  animation: imageload 1.95s ease-in-out;
  width: 100%;
  display: block;
}

.textLayer {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.textLayer:hover {
  background: rgba(231, 112, 130, 0.5);
}

.textLayer h3 {
  width: 100%;
  font-weight: 500;
  font-size: 26px;
  color: #ffff;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: all 0.7s;
  transform: translateY(20px);
}

.textLayer h3:hover {
  bottom: 49%;
  opacity: 1;
  transform: translateY(0);
}

@keyframes imageload {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 600px) {
  .gallary {
    flex-direction: column;
  }

  .product {
    width: 80%;
    padding: 6%;
    margin: auto 0;
    flex-basis: 100%;
  }
}
